
:root {
    --bg-color: #04044c;
    --secondary-bg-color: #494a7d;
    --primary-color: #fff;
    --secondary-color: #25cc88;
    --text-color: #8789af;
    --border-color: #20235b;
  }

#checkout-page{
      background-color: var(--bg-color);
      color: var(--primary-color);
    }
    
    /* /*message */
    
#fade{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba( 0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
}

#fade .spinner-border{
      width: 60px;
      height: 60px;
  }

.hide{
    display: none !important;
}
#menssage{
    width:40%;
}
.alert.alert-light p{
    border-bottom: 1px solid #333;
    padding: 1.2em 0;
}

#order-container{
    padding: 1.5em;
    max-width: 700px;
}

#order-container #steps{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  var(--border-color);
    position: relative;
}
#steps .step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#steps .step i{
    background-color: var(--secondary-bg-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    
    font-size: 1.2em;
    text-align: center;
}

#steps .step p{
    color: var(--text-color);
}
#steps .step .active{
    background-color: var(--secondary-color);
    color: var(--primary-color);

}
#steps  .line{
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    top: 22.5px;
    width: 90%;
    left: 5%;
    z-index: -1;
}

.header{
    color: var(--primary-color);
}
.header p{
    color: var(--secondary-bg-color);
}

#order-container input,
#order-container select{
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    color: var(--primary-color);
}
#order-container select{
    padding: 1rem .75rem;
}

#order-container label{
    color: var(--text-color);
    left: 1rem;
}
#order-container select:disabled,
#order-container input:disabled{
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
}
#order-container input:focus{
    border-color: var(--secondary-color)
}
#save-btn{
    background-color: var(--secondary-color);
    border: none;
    height: 3em;
    width: 8em;
    border-radius: 1.5em;
}







